*, :root, body{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace;
}
.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 20em;
    width: 20em;
    display: none;
}
.board div{
    border: 1px solid black;
    background-color: white;
    
}
.user-info{
    margin: 30px;
    display: flex;
    flex-direction: row;
}
.user-info div{
    padding: 5px;
    margin: 10px;
}
button{
    margin-top: 10px;
    height: 5em;
    width: 10em;
    background-color: lightgreen;
    border-radius: 1em;
    box-shadow: 2px 2px 2px black ;
}
.text-display, .announcer{
    
    margin: 10px;
    font-size: 20px;
}
.unit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.announcer{
    color: green;
    font-size: 2.5em;
    margin: 10px;
}